.Canvas{
    width: 100vw;
    height: 100vh;
    background-color:antiquewhite
}
.List{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: left;
    list-style: none;
}