.Postit{
    background-color: khaki;
    color: rgb(90, 50, 0);
    font-size: 20px;
    border-radius: 5px;
    border-width: 0px;
    width: 200px;
    height: 240px;
    margin: 10px
}
.Postit:focus{
    outline: none;
}